<!DOCTYPE html>
<html lang="en" xmlns:th="Http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome Page</title>
</head>
<body  class="b2"background-color="linen">
<h1 class="p2" align="center">Welcome to Sheridan Jeopardy</h1>
</br></br></br>
<center>
<div class="div1">
 <form action="login" method="Get">
<label class="lb1">Please enter your Name </label><input type="text" name="name"></br></br>
<input class="btn1" type="submit" value="login"></form>
</div>
 </center>

</body>
</html>